
:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
    
}


/*

font-family: 'Big Shoulders Display', cursive;

font-family: 'Lexend Deca', sans-serif;

*/

//Basic Reset
*{
    box-sizing: border-box;
}

body{
    background-color: var(--very-light-gray-background-headings-buttons);
    margin-inline:2rem ;
    margin-block:2rem;
    color: var(--transparent-white-paragraphs);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

//Layout

.icon{
    width: 50px;
    height: auto;
}

.grid-container{
    border-radius: 5px;
    max-width: 843px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    height: 100%;

    p{
        margin-bottom: 4rem;
    }
}

.grid-col{
    position: relative;
    padding: 2rem;
    min-height: 25rem;
    max-width: 281px;
    
    h1{
        color: var(--very-light-gray-background-headings-buttons);
        text-transform: uppercase;
        font-family: 'Big Shoulders Display', cursive;
        font-size: 32px;
    }
}

.cta-btn{
    position: absolute;
    bottom: 2rem;
    left:2rem;
    background-color: var(--very-light-gray-background-headings-buttons);
    border: none;
    outline: none;
    padding: .5rem 1.5rem;
    border-radius: 16px;
    margin:0;
    transition: all 300ms ease-in-out;
    border: 2px solid transparent;
}





// 

.sedans{
    background-color: var(--bright-orange);
    
    .cta-btn{
        color: var(--bright-orange);
    }
    .cta-btn:hover{
        border: solid 2px var(--transparent-white-paragraphs);
        color: white;
        background-color: transparent;
    }
}

.suv{
    background-color:var(--dark-cyan);

    .cta-btn{
        color: var(--dark-cyan);
    }

    .cta-btn:hover{
        border: solid 2px var(--transparent-white-paragraphs);
        color: white;
        background-color: transparent;
    }

    
}

.luxury{
    background-color: var(--very-dark-cyan);

    .cta-btn{
        color: var(--very-dark-cyan);
    }

    .cta-btn:hover{
        border: solid 2px var(--transparent-white-paragraphs);
        color: white;
        background-color: transparent;
    }
}

@media screen and (max-width:700px) {
    body{
        display: block;
    }

    main{
        padding-bottom: 2rem;
    }
    .grid-container{
        display: block;
        max-width: 100%;
    }

    .grid-col{
        max-width: 100%;
    }
    
}